ENV=
APP_PORT=
APP_HOST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=8081

STORAGE_BACKEND=minio
FILES_BUCKET_NAME=pdp-files
STORAGE_REGION=us-east-1

MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_FILES_BUCKET_NAME=
MINIO_SECURE=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=7001

POSTGRESQL_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/pdp
DOCKER_POSTGRESQL_DSN=postgresql+asyncpg://postgres:postgres@pdp-db:5432/pdp
DOCKER_MINIO_ENDPOINT=pdp-minio:9000

# Keycloak Configuration
KC_DB_NAME=keycloak
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://pdp-db:5432/keycloak
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_HOSTNAME=localhost
KC_HOSTNAME_PORT=8080
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_LOG_LEVEL=info
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true
KC_FEATURES=declarative-user-profile
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080

# Keycloak URLs
KEYCLOACK_HOST_URL=http://localhost:8080
DOCKER_KEYCLOACK_HOST_URL=http://pdp-keycloak:8080
KEYCLOACK_PUBLIC_URL=http://localhost:8080
KEYCLOACK_REALM=pdp
KEYCLOACK_CLIENT_ID=web-client
KEYCLOACK_CLIENT_SECRET=
KEYCLOAK_ENABLE=true
