ENV=
APP_PORT=
APP_HOST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_FILES_BUCKET_NAME=
MINIO_SECURE=

POSTGRESQL_DSN=

# Keycloak Configuration
KC_DB_NAME=keycloak
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://pdp-db:5432/keycloak
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_HOSTNAME=localhost

# Keycloak URLs
KEYCLOACK_HOST_URL=http://keycloak:8080
KEYCLOACK_PUBLIC_URL=http://localhost:8080
KEYCLOACK_REALM=pdp
KEYCLOACK_CLIENT_ID=web-client
KEYCLOACK_CLIENT_SECRET=
KEYCLOAK_ENABLE=true
